<main>
  <%= content_tag(:h1) { "Add a new task" } %>
  <%= form_for @task do |f| %>
  <%= render partial: "form", locals: {f: f} %>
  <% end %>
  <p>
    <%= link_to "Go home", tasks_path %>
  </p>
</main>
