<main>
  <article>
    <%= content_tag(:h1) { "To do: " + @task[:name] } %>
    <%= content_tag(:h5) { "Status: #{@task[:completion_status]}" } %>
    <%= content_tag(:h4) { "Completion Date: #{@task[:completion_date]}" } %>
    <%= content_tag(:h3) { "Description: #{@task[:description]}" } %>
  </article>
</main>
